db_connection:
  connection_string: "grpcs://${YDB_NAME}:2135/local"
  insecure: true
  discovery: false
  enable_sdk_metrics: false

client_connection:
  insecure: true
  discovery: false
  allowed_endpoint_domains:
    - ${YDB_NAME}
  allow_insecure_endpoint: false

s3:
  endpoint: ${S3_ENDPOINT}
  region: ${S3_REGION}
  bucket: ${S3_BUCKET}
  path_prefix: "test-prefix"
  access_key_id_path: "access_key"
  secret_access_key_path: "secret_key"
  s3_force_path_style: false

grpc_server:
  bind_port: 50051

metrics_server:
  bind_address: 127.0.0.1
  bind_port: 9090

operation_processor:
  operation_ttl_seconds: 86400 # 24 hours
  processor_interval_seconds: 2

quota:
  schedules_per_db: 1

log:
  duplicate_to_file: /var/log/main.log
  level: INFO

feature_flags:
  enable_new_paths_format: ${ENABLE_NEW_PATHS_FORMAT}
  enable_backups_encryption: ${ENABLE_BACKUPS_ENCRYPTION}