operation_ttl_seconds: 86400 # 24 hours

db_connection:
  connection_string: "grpcs://${YDB_NAME}:2135/local"
  insecure: true
  discovery: false

client_connection:
  insecure: true
  discovery: false
  allowed_endpoint_domains:
    - ${YDB_NAME}
  allow_insecure_endpoint: false

s3:
  endpoint: ${S3_ENDPOINT}
  region: ${S3_REGION}
  bucket: ${S3_BUCKET}
  path_prefix: "test-prefix"
  access_key_id_path: "access_key"
  secret_access_key_path: "secret_key"
  s3_force_path_style: false

grpc_server:
  bind_port: 50051
